body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    background-color: darksalmon;
}
.wrapper{
    background-color: beige;
    width: 450px;
    padding: 20px;
    border-radius: 20px;
}
.wrapper .pass-field{
    height: 65px;
    width: 100%;
    position: relative;
}
.pass-field input{
    width: 420px;
    height: 100%;
    padding: 0px 15px;
    outline: none;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 5px;
}
.pass-field i{
    right: 15px;
    position: absolute;
    top: 50%;
    font-size: 20px;
    cursor: pointer;
    transform: translateY(-50%);
}
.wrapper .content{
    margin: 20px 0 10px;
}
.content p{
    font-size: 20px;
}
.content .requirement-list{
    margin-top: 20px;
}
.requirement-list li{
    list-style: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.requirement-list li i{
    font-size: 14px;
    color: #aaa;
    width: 20px;
}
.requirement-list li .valid i{
    font-size: 20pxpx;
    color: rgb(63, 161, 196);
}
.requirement-list li span{
    margin-left: 12px;
}
.requirement-list li .valid span{
    color: blanchedalmond;
}